<a href="https://colab.research.google.com/github/angellcv/BAT-404-Project/blob/main/impact_of_poverty_in_academic_performance_of_students_in_the_philippines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Impact of poverty in academic performance of students in the Philippines

In [1]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [2]:
url = 'https://raw.githubusercontent.com/angellcv/BAT-404-Project/main/School_Neighborhood_Poverty_Estimates%252C_2018-19.csv'

In [3]:
pd1= pd.read_csv(url)
pd1.head(2000)

,X,Y,OBJECTID,NCESSCH,NAME,IPR_EST,IPR_SE,SCHOOLYEAR,LAT,LON
0,-86.206174,34.260194,1,10000500870,Albertville Middle School,248,113,2018-2019,34.260194,-86.206174
1,-86.204884,34.262226,2,10000500871,Albertville High School,273,123,2018-2019,34.262226,-86.204884
2,-86.220144,34.273318,3,10000500879,Evans Elementary School,172,87,2018-2019,34.273318,-86.220144
3,-86.221806,34.252700,4,10000500889,Albertville Elementary School,217,95,2018-2019,34.252700,-86.221806
4,-86.193289,34.289849,5,10000501616,Big Spring Lake Kindergarten School,474,124,2018-2019,34.289849,-86.193289
...,...,...,...,...,...,...,...,...,...,...
1995,-132.649963,55.482206,1996,20070000484,Hollis School,277,116,2018-2019,55.482206,-132.649963
1996,-132.524451,55.689263,1997,20070000486,SE Island Correspondence,276,97,2018-2019,55.689263,-132.524451
1997,-133.128750,56.119178,1998,20070000526,Whale Pass School,306,139,2018-2019,56.119178,-133.128750
1998,-133.202839,55.869043,1999,20070000589,Naukati School,283,119,2018-2019,55.869043,-133.202839
1999,-158.626406,59.281235,2000,20071000330,Aleknagik School,220,55,2018-2019,59.281235,-158.626406